<section class="about" id="about">
  <h2 class="heading"><span>Sobre</span></h2>
  
  <div class="row">
    <div class="content">
      <h3>Sou Kaio Oliveira</h3>
      <span class="tag">Full Stack Developer</span>
      <p>
        Sou um desenvolvedor Full-Stack e resido em Aracaju-SE. Tenho formação em desenvolvimento Web Full-stack pela Trybe, 
        tendo cerca de 1 ano e 6 meses de experiência acadêmica com o Javascript e Typescript.
        Sou apaixonado por melhorar minhas habilidades de codificação e desenvolvimento de sites. Sou um profissional 
        que gosta de desafios e valoriza o aprendizado.
        Tenho experiência em trabalhos acadêmicos, onde tive a oportunidade de aplicar meus conhecimentos e
        desenvolver competências importantes como boa comunicação, o que me permite trabalhar de forma
        colaborativa em equipe, acredito na escuta ativa e da
        comunicação assertiva e estou sempre aberto a feedbacks e sugestões. 
      </p>
      <div class="box-container">
          <div class="box">
            <p><span> email : </span> kaio.ruan@souunit.com.br</p>
          </div>
      </div>
      <div class="resumebtn">
          <a href="https://flowcv.com/resume/pad3ilcdep" target="_blank" class="btn"><span>Currículo</span>
              <i class="fas fa-chevron-right"></i>
          </a>
      </div>
    </div>
  </div>
</section>