<div class="context">
  <div class="container">
    <div>
      <h2>Olá,<br/> Eu sou Kaio <span>Oliveira</span></h2>
      <div class="typed-out">Sou Desenvolvedor Fullstack</div>
    </div>
      <div class="image">
        <img draggable="false" class="tilt" src="../../../assets/images/profile.png" alt="">
      </div>
    </div>


</div>
    

<div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
</div >