<div class="context home">
  <div class="container">
    <div class="item elements">
      <h2>Olá,<br/> Eu sou Kaio <span>Oliveira</span></h2>
      <div class="typed-out">Sou Desenvolvedor Fullstack</div>
      <div class="icons">
        <a href="https://www.linkedin.com/in/kaioruan" target="_blank">
          <img src="../../../assets/images/linkedin.png" alt="Image" />
        </a>
        <a href="https://www.github.com/kaioruan" target="_blank">
          <img src="../../../assets/images/github.png" alt="Image" />
        </a>
        <a href="http://wa.me/5579988261410" target="_blank">
          <img src="../../../assets/images/whatsapp.png" alt="Image" />
        </a>
      </div>
    </div>
    <div class="item image">
      <img draggable="false" class="tilt" src="../../../assets/images/profile.png" alt="">
    </div>
  </div>

</div>
    

<div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
</div  >