
.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
  /* background-color: red; */
  padding: 0;
}

.start {
  width: 100%;
  height: 5rem;
}

.container {
  background: rgba(0, 0, 22, 0.4);
  color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 600px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
}

img {
  width: 40px;
  height: 40px;
  margin: 0 1rem;
}

.content {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

input {
  width: 30rem;
  min-width: 30rem;
  height: 3rem;
  border-radius: 1rem;
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
  padding: 0 1rem;
  margin-bottom: 1rem;
}

input:hover {
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

textarea {
  width: 30rem;
  height: 10rem;
  border-radius: 1rem;
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin-bottom: 1rem;
}

label {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

input:last-child {
  /* margin-bottom: 2rem; */
  font-size: 1.5rem;
  font-weight: 600;
  /* background: #000031; */
  /* color: #fff; */
  width: 32.5rem;
}