<header>
    <a routerLink="/" class="logo"><i class="material-icons">javascript</i>Kaio Oliveira</a>
    <nav class="navbar">
      <ul>
      <li><a href="#home">Inicio</a></li>
      <li><a href="#about">Sobre</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#education">Formação</a></li>
      <li><a href="#projects">Projetos</a></li>
      <li><a href="#contact">Contato</a></li>
      </ul>
  </nav>

</header>
<br id="home">
<br>
<br>
<br>
<br>
<app-home></app-home>
<app-about></app-about>
<app-skills></app-skills>
<app-education></app-education>
<app-projects></app-projects>
<!-- <router-outlet></router-outlet> -->