<header>
  <a routerLink="/" class="logo">
    <i class="material-icons">javascript</i>Kaio Oliveira
  </a>
  <nav class="navbar" [class.open]="isMenuOpen">
    <ul>
      <li class="burger" (click)="toggleMenu()">
        <i class="material-icons">{{ isWindowSmall ? "close" : "menu" }}</i>
      </li>
      <li class="menu" [class.is-open]="isMenuOpen" [ngStyle]="{'display': (isMenuOpen) ? 'none' : 'block' }">

        <a href="#home" class="menu-item" (click)="closeMenu()">Início</a>
        <a href="#about" class="menu-item" (click)="closeMenu()">Sobre</a>
        <a href="#skills" class="menu-item" (click)="closeMenu()">Skills</a>
        <a href="#education" class="menu-item" (click)="closeMenu()">Formação</a>
        <a href="#projects" class="menu-item" (click)="closeMenu()">Projetos</a>
        <a href="#contact" class="menu-item" (click)="closeMenu()">Contato</a>
      </li>

    </ul>
  </nav>
</header>
<br id="home">
<br>
<br>
<br>
<br>
<app-home></app-home>
<app-about></app-about>
<app-skills></app-skills>
<app-education></app-education>
<app-projects></app-projects>
<app-contact-me></app-contact-me>
<app-footer></app-footer>
<!-- <router-outlet></router-outlet> -->
